* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 18px;
    border: 1px solid green;
}

.mt {
    /* margin-top: 36px; */
    margin-top: 6px;
}